// Specific CSS for your home-page
.title {
  text-align: center;
  margin-bottom: 30px;
}

.mini {
  text-align: center;

}


 // background-image: url("https://images.unsplash.com/photo-1466500419182-8602dc906b51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");

.home-background {
  padding: 20px 0;
  min-height: calc(100vh - 54px);
  background: linear-gradient(rgba(0,1,1,0),rgba(0,1,1,1)), url('https://images.unsplash.com/photo-1466500419182-8602dc906b51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-position: center;
  background-size: cover;
}





.button {
 color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background: rgb(79, 77, 77);
  border-radius: 30px;

  &:hover {
    filter: blur(0px);
    opacity: 1;
    transform: scale(0.98);
    box-shadow: 0 0 5px rgb(76, 175, 80);
    background-color: #00DFC1;
    color: black;

  }
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #00DFC1;
  color: black;
}

.logo-homepage {
  width: 300px;
  object-fit: cover;
  margin-left: -39px;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

input {
  padding: 10px;
}

h1 {
  font-family: Courier, monospace;
  font-size: 90px;
  letter-spacing: 10px;
  margin: 30px;
}

h3 {
  font-family: 'Offside';
  font-size: 30px;
}

h2 {
  font-family: Courier, monospace;
  font-size: 40px;
  letter-spacing: 0px;
  margin: 50px 0;
  text-align: center;
}

.button2 {
 color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  margin: 30px 0px 30px 30px;

  align-items: center;
  justify-content: center;
  background: rgb(79, 77, 77);
  width: 224px;

    &:hover {
    filter: blur(0px);
    opacity: 1;
    transform: scale(0.98);
    box-shadow: 0 0 10px rgb(76, 175, 80);
    text-decoration: none;
    color:white;

  }
}

.product-image{
  background-size:cover;
  background-position:center;
  height: 500px;
  box-shadow: 0 0 5px rgb(51, 51, 51);
  border-radius: 10px;
}

.product-image-holder {
  border: 1px solid black;
  padding: 20px;
  background-color: #00DFC1;
  border-radius: 10px;
}

.product-desc {
  background-color: #fff;
  margin-top: 10px;
  padding: 30px 20px;
  border-radius: 10px;
}

.button3 {
   color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background: rgb(79, 77, 77);
  border-radius: 30px;

}


.title {
  color: black;
}

// FORM
.simple_form.items {
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 35px;
  border-radius: 10px;
  background-color: lightgrey;
  margin-left: -38px;


}

.simple_form.new_booking {
  background-color: lightgrey;
  padding: 20px 20px;
}

.title_new {
  font-family: Courier, monospace;
  font-size: 40px;
  text-align: center;
}

// bookings page 'your booing has been confirmed' page

.move.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.page2 {
  background: white;
}

.booking-container {
  min-height: calc(100vh - 53px)
}
