<!--
<div class="shape">
  <h1>hello</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem beatae explicabo ex necessitatibus totam consectetur ad a debitis repellendus, aut mollitia quisquam ipsa. Nostrum sint consequuntur aut, animi harum facilis.</p>
  <hr>
  <p>lorem</p>
</div>




<div class="move">
    <div>
    <div class="jumbotron move">
      <h4>Great news! Your booking has been confirmed!</h4>

      <p class="lead"> Please treat this item like its yours!</p>
      <hr class="my-4">
      <p>If you have any questions realated to your booking please contact us </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Have fun be safe!</a>
    </div>
   </div>
</div>
 -->


<div class="wrapper ">

  <div class="two sticky">
    <div class="jumbotron move ">
      <h4>Great news! Your booking has been confirmed!</h4>

      <p class="lead"> Please treat this item like its yours!</p>
      <hr class="my-4">
      <p>If you have any questions realated to your booking please contact us </p>
      <a class="btn btn-primary btn-lg btn-secondary" href="#" role="button">Have fun be safe!</a>
    </div>
  </div>




  <div class="three">

    <div>
      <h2>Booking Title</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem beatae explicabo ex necessitatibus totam consectetur ad a debitis repellendus, aut mollitia quisquam ipsa. Nostrum sint consequuntur aut, animi harum facilis.</p>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic qui tenetur fugiat labore, autem modi quisquam ab necessitatibus consequuntur quibusdam molestias quas dolores vitae, molestiae distinctio cum ex, provident excepturi.</p>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, commodi. Consectetur sit perspiciatis, eligendi quasi accusamus et hic ut nobis non velit, cupiditate libero. Optio reprehenderit sequi temporibus repudiandae saepe.</p>
    </div>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde cumque, officia blanditiis. Amet omnis natus suscipit, et repudiandae ex rem fugit error, tempore deleniti unde ipsa impedit sequi nobis cupiditate?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident corporis unde doloremque voluptatum similique dolores! Facilis voluptate et cum voluptas, itaque, accusantium veniam aliquid dicta repellat vel quia tenetur debitis?</p>
    </div>

    <br>
    <br>

    <hr>
    <br>
    <br>
    <br>

    <div>
      <h2>Reviews</h2>
      <p>lorem</p>
      <img src="https://source.unsplash.com/random" alt="Avatar" class="avatar">
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia doloribus itaque aliquid, ullam in. Delectus beatae id quae placeat dolor, vero neque, expedita quaerat sint inventore, exercitationem sapiente iste vel.
        </p>
        <hr>
      </div>

    </div>
    <div>
      <img src="https://source.unsplash.com/randomg" alt="Avatar" class="avatar">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consequuntur expedita quam cumque alias, ipsa iure saepe, repellat illum doloremque qui. Veritatis necessitatibus natus, eum commodi assumenda mollitia, maxime dolor?</p>
      <hr>
    </div>

    <div>
      <img src="https://source.unsplash.com/randomg" alt="Avatar" class="avatar">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consequuntur expedita quam cumque alias, ipsa iure saepe, repellat illum doloremque qui. Veritatis necessitatibus natus, eum commodi assumenda mollitia, maxime dolor?</p>
      <br>
      <hr>
    </div>

    <div>
      <img src="https://source.unsplash.com/randomg" alt="Avatar" class="avatar">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consequuntur expedita quam cumque alias, ipsa iure saepe, repellat illum doloremque qui. Veritatis necessitatibus natus, eum commodi assumenda mollitia, maxime dolor?</p>
      <br>

    </div>


      <hr>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum tenetur at libero explicabo voluptatum ducimus, quo perspiciatis dolore voluptate. Ratione soluta itaque distinctio praesentium rem eos ipsum quisquam facere odio!</p>
    </div>



</div>













