

<div class="wrapper ">

  <div class="two sticky">
    <div class="jumbotron move ">
      <h4>Great news! Your booking has been confirmed!</h4>

      <p class="lead"> Please treat this item like its yours!</p>
      <hr class="my-4">
      <p>If you have any questions realated to your booking please contact us </p>
        <a class="btn btn-primary btn-lg btn-secondary" href="#" role="button">Have fun be safe!</a>
    </div>
  </div>




  <div class="three">

    <div>
      <h2>Your Item</h2>

      <p>The Game Boy. Handheld game console developed and manufactured by Nintendo. The first handheld in the Game Boy family, it was first released in Japan on April 21, 1989, then North America, three month.</p>
      <hr>
      <p>Nintendo's second handheld game console, the Game Boy combines features from both the NES home system and Game & Watch hardware. The console features a dull green dot-matrix screen with adjustable contrast dial, five control buttons a directional pad, two game buttons, and "start" an
        <p>
      <hr>
      <p>Despite being technologically inferior to its fourth-generation competitors, the Game Boy received praise for its battery life and durability in its construction. It quickly outsold the competition. selling one million units </p>
    </div>

    <hr>

    <div>

      <p>It quickly outsold the competition selling one million units in the United States within a few weeks.The Game Boy and its successor, the Game Boy Color  have sold an estimated 118 million units worldwide.the Game Boy Advance, in 2001. Production ceased in 2003.</p>
      <hr>
      <p>The Game Boy was not actually the first handheld games machine with interchangeable cartridges – that was the Microvision, released in 1979 and described as a "programmable electronic game system" by its manufacturer, toy giant Milton Bradley. Interestingly, the console itself was just</p>
      <hr>
    </div>

    <br>
    <br>


    <br>
    <br>
    <br>

    <div>
      <h2>Reviews</h2>

      <img src="https://source.unsplash.com/random/9" alt="Avatar" class="avatar">
      <div>
        <p>
        This was great easy pick up and worked fabulously.
        </p>
        <hr>
      </div>

    </div>
    <div>
      <img src="https://source.unsplash.com/random/3" alt="Avatar" class="avatar">
      <p>Not exactly sure about this one, although I liked it i'm not sure I'd book again</p>
      <hr>
    </div>

    <div>
      <img src="https://source.unsplash.com/random/5" alt="Avatar" class="avatar">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consequuntur expedita quam cumque alias, ipsa iure saepe, repellat illum doloremque qui. Veritatis necessitatibus natus, eum commodi assumenda mollitia, maxime dolor?</p>
      <br>
      <hr>
    </div>

    <div>
      <img src="https://source.unsplash.com/random/2" alt="Avatar" class="avatar">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consequuntur expedita quam cumque alias, ipsa iure saepe, repellat illum doloremque qui. Veritatis necessitatibus natus, eum commodi assumenda mollitia, maxime dolor?</p>
      <br>

    </div>


      <hr>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum tenetur at libero explicabo voluptatum ducimus, quo perspiciatis dolore voluptate. Ratione soluta itaque distinctio praesentium rem eos ipsum quisquam facere odio!</p>
    </div>



</div>













