
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Rento</title>
    <h1 class= "title">Rento</h1>
  <body>
    <div>
    <h3 class= "title">Search For an Item</h3>

    </div>

    <div>
  <label for="field-location">Where</label>
  <input type="location" id="location" name="location" placeholder="Location">

  <label for="field-product">What</label>
  <input type="product" id="product" name="product" value="" placeholder="Guitar">
    </div>

    <div>
  <label for="field-date">From</label>
  <input type="date" id="date" name="date" value="" placeholder="From">

  <label for="field-date">To</label>
  <input type="date" id="date" name="date" value="" placeholder="To">
    </div>

  <div>
    <button class= "button">Search</button>
  </div>

  </body>
</html>
