.content {
  display: flex;
}

.cards {
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  display: grid;
}


.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  margin: 15px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  background: linear-gradient(#004092, #020202, transparent), url("../img/mountains.jpg") no-repeat center;
}


#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

@import "items_index";
@import "show"
