<h1>hello</h1>

<% @items.each do |item| %>
  <%= link_to item_path(item) do %>
    <%= item.title %>
  <% end %>
<% end %>

<h4>We found <%= @items.count %> from your search</h4>


<%= link_to "Back", items_path %>
