  <link href="https://fonts.googleapis.com/css?family=Offside&display=swap" rel="stylesheet">
  <div  class="home-background" style="background-image: url(https://images.unsplash.com/photo-1512977851705-67ee4bf294f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=783&q=80);">
<div class="container">
  <h2>That's Your Item!</h2>
    <div class="row">
      <div class="col-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias totam voluptates voluptate minus repellendus doloribus saepe obcaecati et, eligendi illum, aliquid aspernatur quos mollitia officia at, impedit perspiciatis minima. Laudantium?
      </div>
      <div class="col-8 product-image" style="background-image: url(https://images.unsplash.com/photo-1556449895-a33c9dba33dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)">

      </div>
    </div>

<%= link_to "Back", item_path(@item.id) %>


  <%= link_to "Rent it", new_item_booking_path(@item), class: 'button2'%>

</div>
</div>
