// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "items/index";
@import "pages/bookings";

css-changes
// text for home page
.string.required {
  color:white;
}

span {
  float:right
}


span, a {
  text-decoration: none;
  color: pink;
}



.string.required {
  color: black;
}

.container {
  width: 500px;
  margin: auto;
}

